@media all and (min-width: 320px) and (max-width: 550px) {
    .container .dispClock, .container {
        top: 55%;
    }

    .container .dispClock {
        width: 335px;
    }

    .dispClock #time {
        font-size: 40px;
    }
}